html, body, form{
	height: 100%;
}

body{
	background-color: #8C8CFF;
	color: white;
	font-family: "Helvetica Neue", sans-serif;
}

body, div, form{
	text-align: center;
}

button{
	display: inline-block;
	width: 33%;
	cursor: pointer;
}

form > label{
	display: block;
}

label{
	width: 80%;
	font-weight: bold;
	font-size: 1.5em;
	margin: 1em;
	text-align: right;
}

input, select{
	margin-left: 1em;
	height: 2em;
	width: 40%;
}

form.newTask > *, select.newTask{
	height: 15%;
}

form.newTask > label > *{
	height: 100%;
}

button, input, select{
	border-radius: 10px;
	outline: none;
}

input, select{
	font-size: 1.3em;
}

button{
	background-color: #8080FF;
	font-size: 2em;
	font-weight: bold;
	color: white;
}

button:hover{
	background-color: #B3B3FF;
}


/* -----------Low-Res Mobile---------- */
@media (min-width: 400px){
	.content_container{
		width: 400px;
	}
}

@media (min-height: 600px){
	.content_container{
		height: 600px;
	}
}


/* -----------iPhone---------- */
@media (min-width: 600px){
	.content_container{
		width: 600px;
	}
	
}

@media (min-height: 900px){
	.content_container{
		height: 900px;
	}
}


/* -----------Tablet---------- */
@media (min-width: 960px){
	.content_container{
		width: 960px;
	}
}

@media (min-height: 1200px){
	.content_container{
		height: 1200px;
	}
}